<div class="p+">
	<form ng-submit="saveTask()">
		<div class="card">
			<div class="p+">
				<strong class="fs-headline display-block">New Task</strong>
			    <div flex-container="row" flex-gutter="24">
				    <div flex-item>
					    <lx-text-field lx-label="Title">
					        <input type="text" ng-model="task.title">
					    </lx-text-field>
				 	</div>
				 	<div flex-item>
				 		
				 	</div>
			 	</div>
			    <div flex-container="row" flex-gutter="24">
			        <div flex-item>
			            <lx-text-field lx-label="Description">
			                <input type="text" ng-model="task.description">
			            </lx-text-field>
			        </div>
			    </div>
				<button type="submit" class="btn btn--blue btn--l btn--raised">
					Guardar
				</button>
		    </div>
	    </div>
    </form>
</div>